.goog-custom-button-hover {
    color: #fff;
};
.goog-custom-button {
    outline: none;
    border-radius: 4px;
}
.goog-custom-button-disabled {
    background-color: #666;
};
.goog-inline-block {
    display: inline-block;
}
.goog-custom-button-inner-box {
    padding: 10px 20px;
}
