@import "mixins.scss";

#map-canvas {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    @include transition-cb(400ms, 0.175, 0.885, 0.335, 1.05);
    &.tilt {
        @include transform(0, 33%, 0, 1, 1, 1);
    }
}

#yobubble {
    font-size: 150%;
    white-space: nowrap;
}
#yobubble a {
    color: #333;
    text-decoration: none;
}
